{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Ajout d'un Article {% endblock %}
{% block css %}
    <link rel="stylesheet" href="/assets/css/style_article_add.css">
{% endblock %}
{% block body %}
    <h1>Ajout Article</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Saisir un titre" name="Titre">
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="Description" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <input type="date" class="form-control" name="DatePublication">
        </div>

        <div class="mb-3">
            <select class="form-select" name="Auteur">
                <option value="Brice">Brice</option>
                <option value="Bruno">Bruno</option>
                <option value="Fabien">Fabien</option>
                <option value="Marion">Marion</option>
                <option value="Jean-Pierre">Jean-Pierre</option>
                <option value="Benoit">Benoit</option>
                <option value="Emmanuel">Emmanuel</option>
                <option value="Sylvie">Sylvie</option>
            </select>
        </div>

        <div class="mb-3">
            <input type="file" class="custom-file-input" name="Image">
        </div>


        <button type="submit" class="btn btn-primary">Valider</button>
    </form>


{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/assets/js/script_article_add.js"></script>
{% endblock %}