{#
On n'extends pas de base.html.twig car dans le mail
il n'y aura pas le CSS et JS, du moins il faut
faire un CSS dans le HTML.Voir par exemple :
https://colorlib.com/wp/responsive-html-email-templates/
#}

<h1>Message de {{ nom }}</h1>
<p>{{ message }}</p>